
<main id="main">

<header>

  {{#if isBracket}}
    {{partial "nav"}}
  {{/if}}

  <h2 id="title" class="page-title"> <span class="this-year">{{year}}</span> NBA <span class="sub-title"> Playoffs Predictor</span></h2>
  <div class="cash-prize">
    {{#link-to 'contest'}}
      <h3>{{!fa-icon "fa-cc-paypal"}} Cash Prize: {{fa-icon "fa-usd"}}<strong>101</strong> {{fa-icon "fa-arrow-circle-up"}}</h3>
    {{/link-to}}
  </div>

</header>

{{outlet}}

<footer>
  &copy; NBA Playoffs Predictor, {{year}}.
  <a href="https://github.com/crodriguez1a/nba-playoffs-predictor" target="_blank">{{fa-icon "fa-github-square"}} Fork us on</a>
  <a href="mailto:ideas@evolutionaryapps.com">{{fa-icon "fa-paper-plane"}} Feedback</a>
  {{#link-to 'contest'}}
    {{fa-icon "fa-file-text-o"}} Contest Rules
  {{/link-to}}
</footer>

</main>
