
<main id="main">

  <header class="main">

    {{#if isBracket}}
      {{partial "nav"}}
    {{/if}}

    <h2 id="title" class="page-title hide"> <span class="this-year">{{year}}</span> NBA <span class="sub-title"> Playoffs Predictor</span></h2>
    {{#link-to "bracket"}}
      <img class="app-logo" src="/assets/img/nbaplayoffs.in.svg" />
    {{/link-to}}

    {{#if contestStarted}}
    <div class="cash-prize">
      {{#link-to "contest"}}
        <h3>{{!fa-icon "fa-cc-paypal"}} Cash Prize: {{fa-icon "fa-usd"}}<strong>101</strong> {{fa-icon "fa-arrow-circle-up"}}</h3>
      {{/link-to}}
    </div>
    {{/if}}

  </header>

{{outlet}}

<!-- <article>
  <a class="twitter-timeline" href="https://twitter.com/NBA" data-widget-id="571380286764900352">Tweets by @NBA</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</article> -->

<footer>
  &copy; NBA Playoffs Predictor, {{year}}.
  <a href="https://github.com/crodriguez1a/nba-playoffs-predictor" target="_blank">{{fa-icon "fa-github-square"}}&nbsp;&nbsp;Fork us on</a>
  <a href="mailto:ideas@evolutionaryapps.com">{{fa-icon "fa-paper-plane"}}&nbsp;&nbsp;Feedback</a>
  {{#if contestStarted}}
    {{#link-to "contest"}}
      {{fa-icon "fa-file-text-o"}} Contest Rules
    {{/link-to}}
  {{/if}}
</footer>

</main>
