<main class="contest">
  <article class="plain-content">
    <section>
      <h1>Contest<span class="sub-title">Submit your predictions for a chance to win</span></h1>
      <p>We're not accepting submissions just yet. <a href="#" target="_blank">Follow us</a> on <a href="#" target="_blank" class="facebook">{{fa-icon "fa-facebook-square"}}</a> for updates.<br>
      {{link-to 'Return to bracket' 'application'}}</p>
    </section>

    <section>
      <h2>How to Enter</h2>
      <ul class="steps">
        <li>
          <h3>1. Review the {{scroll-to label="contest rules" href="#rules"}}</h3>
        </li>
        <li class="hide">
          <h3>2. {{link-to "Make your picks" "bracket"}}, then post your prediction on your <a href="#" target="_blank" class="facebook">{{fa-icon "fa-facebook-square"}}</a> wall</h3>

          <ul class="make-your-picks">
            <li class="mini-bracket">
              <ul>
                <li><span class="pick east">{{fa-icon "fa-check"}}</span></li>
                <li><span class="pick east">{{fa-icon "fa-check"}}</span></li>
                <li><span class="pick champ">{{fa-icon "fa-check"}}</span></li>
                <li><span class="pick west">{{fa-icon "fa-check"}}</span></li>
                <li><span class="pick west">{{fa-icon "fa-check"}}</span></li>
              </ul>
            </li>
            <li>{{fa-icon "fa-share fa-2x"}}</li>
            <li><span class="facebook">{{fa-icon "fa-facebook fa-3x"}}</span></li>
          </ul>
        </li>

        <li>
          <h3>2. Submit your $1 entrance fee via <a href="#">PayPal</a></h3>
          <p class="entrance-fee"><span class="usd">{{fa-icon "fa-usd"}}1</span> {{fa-icon "fa-share fa-2x"}} <span class="pay-pal">{{fa-icon "fa-cc-paypal fa-4x"}}</span></p>
        </li>

        <li>
          <h3>3. {{link-to "Make your picks" "bracket"}} and share them with us on <a href="#" class="facebook">{{fa-icon "fa-facebook-official"}}</a></h3>
          <div class="facebook-feed">
            <header>
              {{fa-icon "fa-facebook-official"}}
            </header>
            <div class="post">
              <ul>
                <li>{{fa-icon "fa-thumbs-o-up fa-2x"}}</li>
                 <li>
                   <div class="mini-bracket">
                     <ul>
                       <li><span class="pick east">{{fa-icon "fa-check"}}</span></li>
                       <li><span class="pick east">{{fa-icon "fa-check"}}</span></li>
                       <li><span class="pick champ">{{fa-icon "fa-check"}}</span></li>
                       <li><span class="pick west">{{fa-icon "fa-check"}}</span></li>
                       <li><span class="pick west">{{fa-icon "fa-check"}}</span></li>
                     </ul>
                   </div>
                 </li>
             </ul>
            </div>
          </div>
        </li>

        <li>
          <h3>4. <a href="#" target="_blank">Follow us</a> on <a href="#" target="_blank" class="facebook">{{fa-icon "fa-facebook-square"}}</a> for the announcement of the winner(s)</h3>
          <ul class="winner">
            <li class="blue">{{fa-icon "fa-users fa-2x"}}</li>
            <li>{{fa-icon "fa-arrow-right fa-2x"}}</li>
            <li class="facebook">{{fa-icon "fa-facebook fa-3x"}}</li>
            <li>{{fa-icon "fa-arrow-right fa-2x"}}</li>
            <li class="green">{{fa-icon "fa-usd fa-3x"}}{{fa-icon "fa-usd fa-3x"}}</li>
          </ul>
        </li>
      </ul>
    </section>


    <section class="rules" id="rules">
      <h2>Contest Rules</h2>
        <ol>
          <li><h3>Entry:</h3> One dollar admission fee necessary to enter to win. Contestants will enter by sharing or posting a snapshot of their bracket via Facebook at facebook.com/fbid.</li>

          <li><h3>Eligibility:</h3> This contest is open only to anyone with access to a valid PayPal account. Void where prohibited by law. Contestants residing in those areas where the contest is void may participate in the contest but may not win any prizes. </li>

          <li><h3>Winner Selection:</h3> Submissions will be judged on accuracy as they compare to actual NBA Playoffs results. Contestants with identical brackets will split the winning prize equally.</li>

          <li><h3>Prizes:</h3> Winner(s) will receive a cash prize (via PayPal), with a minimum value of exactly $100 divided by the number of Contestants with identical brackets. Cash prize will increase by 0.5% multiplied by the number of Contestants who enter. </li>

          <li><h3>Winner Notification:</h3> Winner(s) will be notified within 14 days after the determination date.  Inability to contact a winner may result in disqualification and selection of an alternate winner. </li>

          <li><h3>Not Endorsed By Facebook:</h3> By participating in this contest, you acknowledge that this contest is in no way sponsored, endorsed or administered by, or associated with, Facebook and release Facebook from any and all liability arising from or related to this contest. The information you are providing for this contest is being provided to NBAPlayoffs.in and not to Facebook, and will be used to notify you if you have won.</li>

          <li><h3>Conduct:</h3> All contest participants agree to be bound by these Official Rules.  NBAPlayoffs.in in its sole discretion, reserves the right to disqualify any person it finds to be tampering with the entry process, the operation of its web site, browser application, or is otherwise in violation of these rules.</li>

          <li><h3>Limitaions of Liability:</h3> NBAPlayoffs.in is not responsible for late, lost or misdirected entries or for any computer, online, telephone or technical malfunctions that may occur.  If for any reason, the contest is not capable of running as planned, including infection by computer virus, bugs, tampering, unauthorized intervention or technical failures of any sort, NBAPlayoffs.in may cancel, terminate, modify or suspend the contest.  Entrants further agree to release NBAPlayoffs.in from any liability resulting from, or related to participation in the contest.</li>

          <li><h3>Winners List</h3> The names of the winner(s) will be posted on the official Facebook page of NBAPlayoffs.in within 72 hours of the completion of the {{year}} NBA Finals.</li>

        </ol>
    </section>

    <!-- <section>
      <footnote></footnote>
    </section> -->
  </article>
</main>
