
<main class="contest">
  <article class="plain-content">
    <section>
      <h2 class="green">Contest <span class="sub-title">Submit your prediction for a chance to win</span></h2>
      <p>We're not accepting submissions just yet. <a href="#" target="_blank">Follow us</a> on <a href="#" target="_blank">{{fa-icon "fa-facebook-square"}}</a> for updates.
      {{link-to 'Return to bracket' 'application'}}</p>
    </section>

    <section>
      <h2>How to Enter</h2><br>
      <h3>2. Post your prediction on our {{fa-icon "fa-facebook-official"}} wall.</h3>
      <div class="facebook-feed">
        <header>
          {{fa-icon "fa-facebook-official fa-2x"}}
        </header>
        <div class="steps">
          <ul>
           <li>{{fa-icon "fa-cloud-upload fa-2x"}} </li>
        </div>
      </div>
    </section>

    <hr>

    <section>
      <h3>Contest Rules</h3>
      <p>Coming soon.</p>
    </section>

  </article>
</main>
