
<nav id="nav">
  <ul>
    <li class="menu-bars">
      {{t-menu is-open=menuOpen action="toggleMenu"}}
    </li>

    {{#liquid-if "menuOpen" use="toLeft"}}

      <li>
        {{#scroll-to href="#standings"}}
          <span {{bind-attr class="controllers.predictor.predictingStandings:active: "}} {{action "predictStandings"}}>{{fa-icon "fa-sort"}} Predict Standings
            {{#liquid-if controllers.predictor.predictingStandings use="crossFade"}}
              {{fa-icon "fa-close"}}
            {{/liquid-if}}
          </span>
        {{/scroll-to}}

        {{#if controllers.predictor.simulatedStandings use="crossFade"}}
          <a href="#" class="refresh" title="reset" {{action "refreshStandings"}}>{{fa-icon "fa-reply"}}</a>
        {{/if}}
      </li>


      <li>
        {{#scroll-to href="#main"}}
          <span {{bind-attr class="controllers.predictor.predictingWinners:active: "}} {{action "predictWinners"}}>{{fa-icon "fa-star-half-empty"}} Predict Winners
            {{#liquid-if controllers.predictor.predictingWinners use="crossFade"}}
              {{fa-icon "fa-close"}}
            {{/liquid-if}}
          </span>
        {{/scroll-to}}

        {{#if controllers.predictor.simulatedWinners use="crossFade"}}
          <a href="#" class="refresh" title="reset" {{action "refreshWinners"}}>{{fa-icon "fa-reply"}}</a>
        {{/if}}
      </li>

      <li>
        {{#scroll-to href="#main"}}
          <span {{action "takeSnapshot"}}><span class="facebook">{{fa-icon "fa-facebook-official"}}</span> Share</span>
        {{/scroll-to}}
      </li>

      {{#if contestStarted}}
      <li>
        {{#link-to "contest" classNames="cash"}}{{fa-icon "fa-usd"}} Contest{{/link-to}}
      </li>
      {{/if}}

      {{#if scrolled}}
        <li>{{#scroll-to href="#main"}}{{fa-icon "fa-arrow-up"}}{{/scroll-to}}</li>
      {{/if}}



    {{/liquid-if}}



  </ul>
</nav>
