<section class="snapshot">
  <div class="content">
    <a href="#" class="close" {{action "hideSnapshot"}}>{{fa-icon "fa-close"}}</a>
    <div class="canvas"></div>
    <div class="social">
      <ul>
        {{#if canDownload}}
          <li><a {{bind-attr href="downloadHref" download="downloadFileName"}} target="_blank" class="dl-snapshot">{{fa-icon "fa-cloud-download fa-2x"}}</a></li>
        {{/if}}
        {{#if imgurUrl}}
          <li><a href="#" target="_blank" class="fb-share">{{fa-icon "fa-facebook-official fa-2x"}}</a></li>
        {{else}}
          <li>{{detail-loader centered=true light=true}}</li>
        {{/if}}
        <!--  <li><a href="https://twitter.com" target="_blank">{{!fa-icon "fa-twitter fa-2x"}}</a></li>
        <li><a href="https://instagram.com" target="_blank">{{!fa-icon "fa-instagram fa-2x"}}</a></li>
      -->
      </li>
    </div>
  </div>
</section>
